.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  color: #b3fbfb;
}

.value {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #E0FFFF;
}
