.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  color: #1976d2;
}

.value {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  color: #1976d2;
}
