.mapCardWrapper {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  width: 300px;
  max-height: 200px;
}

.symbol {
  font-size: 12px;
}

.closeButton {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.coords {
  font-size: 10px;
}

.traits {
  overflow: auto;
}
